.menu-bar {
  background-color: #333;
  padding: 10px 0;
  color: white;
}

.menu-class {
  color: white;
  margin: 0;
  padding: 10px;
}
/* I changed something */
.menu-button {
  color: white;
  margin: 0;
  padding: 10px;
}

.menu-button a {
  color: white;
  text-decoration: none;
}

.menu-button a:hover {
  color: #aaa;
}


